<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <title>Contatti - Viaggi Facili</title>

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
	<link href="css/style.css" rel="stylesheet" />
</head>

<!--
File Contact
-->

<body>

	<div class="container">
	<!-- Top box -->
		<!-- Logo & Site Name -->
		<div class="placeholder">
			<div class="parallax-window" data-parallax="scroll" data-image-src="img/home-01.gif">
				<div class="tm-header">
					<div class="row tm-header-inner">
						<div class="col-md-6 col-12">
							<img src="img/simple-house-logo.png" alt="Logo" class="tm-site-logo" />
							<div class="tm-site-text-box">
								<h1 class="tm-site-title">Viaggi Facili</h1>
								<h6 class="tm-site-description">I miglior viaggi, al miglior prezzo</h6>
							</div>
						</div>
						<nav class="col-md-6 col-12 tm-nav">
							<ul class="tm-nav-ul">
								<li class="tm-nav-li"><a href="index.html" class="tm-nav-link">Home</a></li>
								<li class="tm-nav-li"><a href="contact.html" class="tm-nav-link active">Contatti</a></li>
								<li class="tm-nav-li"><a href="login.html" class="tm-nav-link-login">Login</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>

		<main>
			<!-- Intro -->
			<header class="row tm-welcome-section">
				<h2 class="col-12 text-center tm-section-title">Contatti</h2>
				<p class="col-12 text-center">Hai qualche domanda sui servizi? Non esitare a contattarci!</p>
			</header>

			<div class="tm-container-inner-2 tm-contact-section">
				<div class="row">
					<div class="col-md-6">
						<!-- Email box contact -->
						<form action="" method="POST" class="tm-contact-form">
					        <div class="form-group">
					          <input type="text" name="name" class="form-control" placeholder="Nome" required="" />
					        </div>

					        <div class="form-group">
					          <input type="email" name="email" class="form-control" placeholder="Email" required="" />
					        </div>

					        <div class="form-group">
					          <textarea rows="5" name="message" class="form-control" placeholder="Messaggio" required=""></textarea>
					        </div>

					        <div class="form-group tm-d-flex">
					          <button type="submit" class="tm-btn tm-btn-success tm-btn-right">
					            Invia
					          </button>
					        </div>
						</form>
					</div>
					<div class="col-md-6">
						<!-- Contact links -->
						<div class="tm-address-box">
							<h4 class="tm-info-title tm-text-success">Dove ci puoi trovare</h4>
							<address>
								Disponibili dal lunedì al venerdì dalle 09:00 alle 18:00 -
								Italia, Abruzzo, Pescara (PE) 66020, Via Colombo 2
							</address>
							<a href="tel:080-090-0110" class="tm-contact-link">
								<i class="fas fa-phone tm-contact-icon"></i>+39 0854448877
							</a>
							<a href="mailto:info@viaggifacili.it" class="tm-contact-link-email">
								<i class="fas fa-envelope tm-contact-icon"></i>info@viaggifacili.it
							</a>
							<div class="tm-contact-social">
								<a href="https://fb.com/" class="tm-social-link"><i class="fab fa-facebook tm-social-icon"></i></a>
								<a href="#" class="tm-social-link"><i class="fab fa-twitter tm-social-icon"></i></a>
								<a href="#" class="tm-social-link"><i class="fab fa-instagram tm-social-icon"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Google maps API -->
			<div class="tm-container-inner-2 tm-map-section">
				<div class="row">
					<div class="col-12">
						<div class="tm-map">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d94198.18664277169!2d14.133625082141126!3d42.45554062972181!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1331a60db9286477%3A0xa0b89e89b22cbfe2!2sPescara%20PE!5e0!3m2!1sit!2sit!4v1621517896923!5m2!1sit!2sit" frameborder="0" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
						</div>
					</div>
				</div>
			</div>

			<!-- FAQs -->
			<div class="tm-container-inner-2 tm-info-section">
				<div class="row">
					<!-- FAQ -->
					<div class="col-12 tm-faq">
						<h2 class="text-center tm-section-title">FAQs</h2>
						<p class="text-center">Domande e risposte frequenti, prima di contattare il servizio clienti controlla che non ci sia già una risposta</p>
						<div class="tm-accordion">
							<button class="accordion">1. Posso richiedere una promozione diversa?</button>
							<div class="panel">
							  <p>Certo! Ci contatti e i nostri consulenti cercheranno la soluzione migliore per le vostre esigenze!</p>
							</div>

							<button class="accordion">2. Ho provato a chiamare ma non risponde nessuno</button>
							<div class="panel">
							  <p>Il servizio telefonico è disponibile tutti i giorni lavorativi dalle 09:00 alle 18:00</p>
							</div>

							<button class="accordion">3. Ho perso la password</button>
							<div class="panel">
							  <p>Nessun problema, provi a richiedere il reset della password. Se non riesce può contattare il nostro servizio clienti</p>
							</div>

							<button class="accordion">4. Devo annullare una prenotazione</button>
							<div class="panel">
								<p>Può annullare le prenotazioni fino a 24 ore prima dal servizio. Nel caso volesse procedere all'annullamento può contattare il nostro servizio clienti, fornendo l'ID Cliente e l'ID Prenotazione</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>

		<footer class="tm-footer text-center">
			<p>Copyright &copy; 2021 Viaggi Facili</p>
		</footer>
	</div>

	<!-- Scripts -->
	<script src="js/jquery.min.js"></script>
	<script src="js/parallax.min.js"></script>
	<script>
	  // FAQs Animation
		$(document).ready(function(){
			var acc = document.getElementsByClassName("accordion");
			var i;

			for (i = 0; i < acc.length; i++) {
			  acc[i].addEventListener("click", function() {
			    this.classList.toggle("active");
			    var panel = this.nextElementSibling;
			    if (panel.style.maxHeight) {
			      panel.style.maxHeight = null;
			    } else {
			      panel.style.maxHeight = panel.scrollHeight + "px";
			    }
			  });
			}
		});
	</script>
</body>
</html>
