<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <title>Home - Viaggi Facili</title>

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;400;900&display=swap" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet" />
</head>

<!--
File Index
-->

<body>
	<div class="container">
	<!-- Top box -->
		<div class="placeholder">
			<div class="parallax-window" data-parallax="scroll" data-image-src="img/home-01.gif">
				<div class="tm-header">
					<div class="row tm-header-inner">

						<!-- Logo & Site Name -->
						<div class="col-md-6 col-12">
							<img src="img/simple-house-logo.png" alt="Logo" class="tm-site-logo" />
							<div class="tm-site-text-box">
								<h1 class="tm-site-title">Viaggi Facili</h1>
								<h6 class="tm-site-description">I miglior viaggi, al miglior prezzo</h6>
							</div>
						</div>

						<!-- Navbar -->
						<nav class="col-md-6 col-12 tm-nav">
							<ul class="tm-nav-ul">
								<li class="tm-nav-li"><a href="index" class="tm-nav-link active">Home</a></li>
								<li class="tm-nav-li"><a href="contact" class="tm-nav-link">Contatti</a></li>
								<li class="tm-nav-li"><a href="login" class="tm-nav-link-login">Login</a></li>
							</ul>
						</nav>

					</div>
				</div>
			</div>
		</div>

		<main>
			<!-- Intro -->
			<header class="row tm-welcome-section">
				<h2 class="col-12 text-center tm-section-title">Benvenuto su Viaggi Facili</h2>
				<p class="col-12 text-center">
					Scopri le peculiarità della regione Abruzzo! I migliori ristoranti, alberghi, trasporti in un solo pacchetto!
				</p>
			</header>

			<!-- Home's navbar -->
			<div class="tm-paging-links">
				<nav>
					<ul>
						<li class="tm-paging-item"><a href="#" class="tm-paging-link active">Alberghi</a></li>
						<li class="tm-paging-item"><a href="#" class="tm-paging-link">Ristoranti</a></li>
						<li class="tm-paging-item"><a href="#" class="tm-paging-link">Gite</a></li>
					</ul>
				</nav>
			</div>

			<!-- Gallery -->
			<div class="row tm-gallery">
				<!-- gallery page 1 -->
				<div id="tm-gallery-page-alberghi" class="tm-gallery-page">
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="img/gallery/01.jpg" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">B&B Rosa</h4>
								<p class="tm-gallery-description">Unico del suo genere, adatto per famiglie e coppie</p>
								<p class="tm-gallery-price">★★★★★ 91</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="img/gallery/02.jpg" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Hotel Angolo</h4>
								<p class="tm-gallery-description">
									10 Stanze letto, per bambini e adulti
									No ristorante
								</p>
								<p class="tm-gallery-price">★★★★☆ 127</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="img/gallery/03.jpg" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Albergo Bianco</h4>
								<p class="tm-gallery-description">Nuova apertura! 10 camere adatta per single</p>
								<p class="tm-gallery-price">★★★☆☆ 11</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="img/gallery/05.jpg" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Poseidone's Hotel</h4>
								<p class="tm-gallery-description">Attività familiare aperta dal 2005! Piscina e camere incluse, prevista escursione per la spiaggia</p>
								<p class="tm-gallery-price">★★★★★ 305</p>
							</figcaption>
						</figure>
					</article>
				</div> <!-- gallery page 1 </end> -->

				<!-- gallery page 2 -->
				<div id="tm-gallery-page-ristoranti" class="tm-gallery-page hidden">
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="img/gallery/04.jpg" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">D'Agostini Gastronomia</h4>
								<p class="tm-gallery-description">Gastronomia d'asporto, pizzeria, pasta all'uovo, rustici e dolci.</p>
								<p class="tm-gallery-price">★★★☆☆ 951</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="img/gallery/03.jpg" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Albergo Bianco</h4>
								<p class="tm-gallery-description">Nuova apertura! 10 camere adatta per single</p>
								<p class="tm-gallery-price">★★★☆☆ 11</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="img/gallery/05.jpg" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Poseidone's Hotel</h4>
								<p class="tm-gallery-description">Attività familiare aperta dal 2005! Piscina e camere incluse</p>
								<p class="tm-gallery-price">★★★★★ 305</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="img/gallery/01.jpg" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">B&B Rosa</h4>
								<p class="tm-gallery-description">Unico del suo genere, adatto per famiglie e coppie</p>
								<p class="tm-gallery-price">★★★★★ 91</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="img/gallery/08.jpg" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Modern Bar</h4>
								<p class="tm-gallery-description">Nuova gestione! Gustazione di vini settimanalmente</p>
								<p class="tm-gallery-price">★★★★★ 185</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="img/gallery/07.jpg" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Pizza's Pino</h4>
								<p class="tm-gallery-description">La miglior pizza di Teramo!</p>
								<p class="tm-gallery-price">★★★★☆ 15</p>
							</figcaption>
						</figure>
					</article>
				</div> <!-- gallery page 2 </end> -->

				<!-- gallery page 3 -->
				<div id="tm-gallery-page-gite" class="tm-gallery-page hidden">
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="img/gallery/09.jpg" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Gran Sasso Tour</h4>
								<p class="tm-gallery-description">Le meraviglie del Gran Sasso, traporto e guide turistiche altamente specializzate</p>
								<p class="tm-gallery-price">★★★★★ 174</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="img/gallery/11.jpg" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Aquila business</h4>
								<p class="tm-gallery-description">Tour guidato del capoluogo abruzzese! Paesaggio immerso tra castelli e ambientazione medievale</p>
								<p class="tm-gallery-price">★★☆☆☆ 89</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="img/gallery/10.jpg" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Mare Blu</h4>
								<p class="tm-gallery-description">Tour accompagnato della città di Pescara, città natale dell'autore Gabriele D'Annunzio</p>
								<p class="tm-gallery-price">★★★★☆ 11</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="img/gallery/05.jpg" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Poseidone's Hotel</h4>
								<p class="tm-gallery-description">Attività familiare aperta dal 2005! Piscina e camere incluse, prevista escursione per la spiaggia</p>
								<p class="tm-gallery-price">★★★★★ 305</p>
							</figcaption>
						</figure>
					</article>

				</div> <!-- gallery page 3 </end> -->
			</div>
			<div class="tm-section tm-container-inner">
				<div class="row">
					<div class="col-md-6">
						<figure class="tm-description-figure">
							<img src="img/img-01.jpg" alt="Image" class="img-fluid" />
						</figure>
					</div>
					<div class="col-md-6">
						<div class="tm-description-box">
							<h4 class="tm-gallery-title">Offerta speciale! Pacchetto "Viaggi Facili"!</h4>
							<p class="tm-mb-45">
								Goditi la tua vacanza in totale relax, pacchetto completo con albergo, ristoranti e traposto incluso a un prezzo invidiabile!
									<a rel="nofollow" href="contact">Contattaci</a>
								per avere più informazioni</p>
							<a href="about" class="tm-btn tm-btn-default tm-right">Leggi di più</a>
						</div>
					</div>
				</div>
			</div>
		</main>

		<!-- Footer -->
		<footer class="tm-footer text-center">
			<p>Copyright &copy; 2021 Viaggi Facili</p>
		</footer>
	</div>


	<!-- Script -->
	<script src="js/jquery.min.js"></script>
	<script src="js/parallax.min.js"></script>
	<script>
		$(document).ready(function(){
			// Handle click on paging links
			$('.tm-paging-link').click(function(e){
				e.preventDefault();

				var page = $(this).text().toLowerCase();
				$('.tm-gallery-page').addClass('hidden');
				$('#tm-gallery-page-' + page).removeClass('hidden');
				$('.tm-paging-link').removeClass('active');
				$(this).addClass("active");
			});
		});
	</script>
</body>
</html>
