<!DOCTYPE html>
<html>

<head>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - Viaggi Facili</title>

  <link href="css/auth.css" rel="stylesheet" />
</head>

<body>
    <form>
        <div class="container">
            <h1 class="title"><a href="index.html">< Login</a></h1>
            <p><input type="text" placeholder="Email" name="email" required></p>
            <p><input type="password" placeholder="Password" name="password" required></p>
            <button type="submit">Login</button>
            <p><input type="checkbox" checked="checked"> Ricordati di me</p>
            <h5>Hai perso la <a href="#">password</a>?<h5>
            <h5><a href="register">Non sei registrato?</a><h5>
        </div>
    </form>
</body>
</html>
