<!DOCTYPE html>
<html>

<head>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register - Viaggi Facili</title>

  <link href="css/auth.css" rel="stylesheet" />
</head>

<body>
    <form>
        <div class="container">
            <h1 class="title"><a href="index.html">< Register</a></h1>
            <p><input type="text" placeholder="Email" name="email" required></p>
            <p><input type="text" placeholder="Nome" name="name" required></p>
            <p><input type="text" placeholder="Cognome" name="surname" required></p>
            <p><input type="password" placeholder="Password" name="password" required></p>
            <p><input type="password" placeholder="Conferma Password" name="cnfPassword" required></p>
            <button type="submit">Register</button>
            <h5><a href="login.html">Sei già registrato?</a><h5>
        </div>
    </form>
</body>
</html>
